[Unit]
Documentation=man:wg(8)
Description=NordVPN isolated network namespace
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Service]
Type=notify

ExecStart=nordvpn-netns up
ExecStop=nordvpn-netns down
RemainAfterExit=yes
LoadCredential=nordvpn.key:/etc/nordvpn-netns/nordvpn.key

# General protection settings
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_NET_ADMIN

# These settings seem to break joining the namespace after it has been launched...
# ProtectSystem=true
# ProtectProc=noaccess
# PrivateDevices=true
# ProtectKernelTunables=true
# ProtectKernelLogs=true
# PrivateDevices=true
# PrivateMounts=true
# PrivateTmp=true
# ProtectControlGroups=true
# ProtectHome=true

ProtectClock=true
RestrictSUIDSGID=true
ProtectHostname=true

# Allow IPv4 and IPv6
RestrictAddressFamilies=AF_INET AF_INET6
# AF_NETLINK is needed for ip netns add wg0
RestrictAddressFamilies=AF_NETLINK
# AF_UNIX is needed for systemd-notify
RestrictAddressFamilies=AF_UNIX

NoNewPrivileges=true
RestrictRealtime=true
LockPersonality=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@obsolete
SystemCallFilter=~@clock
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@reboot
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallFilter=~@chown

# This setting breaks adding the namespace
#SystemCallFilter=~@mount

[Install]
WantedBy=multi-user.target
